.Rhistory
VM/Credenciales.txt
VM/visa-lfs.rdp
Calidad del aire/Datos en tiempo real/Datos/*.csv
Calidad del aire/Datos en tiempo real/Datos/*.txt
Calidad del aire/Datos históricos/.Rhistory
Calidad del aire/Datos históricos/Anio2001/*.txt
Calidad del aire/Datos históricos/Anio2002/*.txt
Calidad del aire/Datos históricos/Anio2003/*.txt
Calidad del aire/Datos históricos/Anio2004/*.txt
Calidad del aire/Datos históricos/Anio2005/*.txt
Calidad del aire/Datos históricos/Anio2006/*.txt
Calidad del aire/Datos históricos/Anio2007/*.txt
Calidad del aire/Datos históricos/Anio2008/*.txt
Calidad del aire/Datos históricos/Anio2009/*.txt
Calidad del aire/Datos históricos/Anio2010/*.txt
Calidad del aire/Datos históricos/Anio2011/*.txt
Calidad del aire/Datos históricos/Anio2012/*.txt
Calidad del aire/Datos históricos/Anio2013/*.txt
Calidad del aire/Datos históricos/Anio2014/*.txt
Calidad del aire/Datos históricos/Anio2015/*.txt
Calidad del aire/Datos históricos/Anio2016/*.txt
Calidad del aire/Datos históricos/Anio2017/*.txt
Calidad del aire/Datos históricos/Anio2017/*.csv
Calidad del aire/Datos históricos/Anio2017/*.xml
Calidad del aire/Datos históricos/Anio2018/*.csv
Calidad del aire/Datos históricos/Anio2018/*.xml
Calidad del aire/Datos históricos/Anio2018/*.txt
Calidad del aire/Preprocesado/Datos/*.csv
Calidad del aire/Preprocesado/Datos/Anio2002.csv
Calidad del aire/Preprocesado/Datos/Anio2003.csv
Calidad del aire/Preprocesado/Datos/Anio2004.csv
Calidad del aire/Preprocesado/Datos/Anio2005.csv
Calidad del aire/Preprocesado/Datos/Anio2006.csv
Calidad del aire/Preprocesado/Datos/Anio2007.csv
Calidad del aire/Preprocesado/Datos/Anio2008.csv
Calidad del aire/Preprocesado/Datos/Anio2009.csv
Calidad del aire/Preprocesado/Datos/Anio2010.csv
Calidad del aire/Preprocesado/Datos/Anio2011.csv
Calidad del aire/Preprocesado/Datos/Anio2012.csv
Calidad del aire/Preprocesado/Datos/Anio2013.csv
Calidad del aire/Preprocesado/Datos/Anio2014.csv
Calidad del aire/Preprocesado/Datos/Anio2015.csv
Calidad del aire/Preprocesado/Datos/Anio2016.csv
Calidad del aire/Preprocesado/Datos/Anio2017.csv
Calidad del aire/Preprocesado/Datos/Anio2018.csv
Calidad del aire/Preprocesado/Datos/BK_sinICA/*.csv
Calidad del aire/Preprocesado/Datos/datos_ica.csv
Información meteorológica/Weather Underground/Historico/Parsed/*.json
Calidad del aire/Datos en tiempo real/Datos/Parseados/*.txt